@model TestWebApp.Models.EmployeeView
@{
	ViewBag.Title = "Edit employee";
}
<form asp-action="Edit" asp-controller="Home" asp-route-Id="@Model.Employees.Id">
	<div class="form-group w-50">
		<label asp-for="@Model.Employees.Name" class="control-label">Name</label>
		<input type="text" asp-for="@Model.Employees.Name" class="form-control" />
	</div>
	<div class="form-group w-50">
		<label asp-for="@Model.Employees.LastName" class="control-label">Last name</label>
		<input type="text" asp-for="@Model.Employees.LastName" class="form-control" />
	</div>
	<div class="form-group w-50">
		<label asp-for="@Model.Employees.Patronymic" class="control-label">Patronymic</label>
		<input type="text" asp-for="@Model.Employees.Patronymic" class="form-control" />
	</div>
	<div class="form-group w-50">
		<label asp-for="@Model.Employees.DateOfBirth" class="control-label">Date of birth</label>
		<input type="date" asp-for="@Model.Employees.DateOfBirth" class="form-control" />
	</div>
	<div class="form-group w-50">
		<label asp-for="@Model.Employees.ProfessionID" class="control-label">Profession</label>
		<select asp-items="@(new SelectList(Model.Professions,"Id","Profession"))" asp-for="@Model.Employees.ProfessionID" class="form-control"></select>
	</div>
	<div class="btn btn-default">
		<input type="submit" value="Save" class="btn btn-default"/>
	</div>
</form>